models/caCORE3-0-caDSR.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include/>
	<xs:include/>
	<xs:include/>
	<xs:element name="AdministeredComponent" type="AdministeredComponent"/>
	<xs:complexType name="AdministeredComponent">
		<xs:sequence>
			<xs:element name="AdministeredComponent.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.preferredName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.preferredDefinition">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.longName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.version">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.workflowStatusName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.workflowStatusDescription">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.latestVersionIndicator">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.beginDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.endDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.deletedIndicator">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.changeNote">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.unresolvedIssue">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.origin">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.publicID">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.registrationStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.referenceDocumentCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.administeredComponentClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.definitionCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Definition" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.context">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Context" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponent.designationCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Designation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConceptualDomain" type="ConceptualDomain"/>
	<xs:complexType name="ConceptualDomain">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ConceptualDomain.dimensionality">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ConceptualDomain.valueMeaningCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueMeaning" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ConceptualDomain.dataElementConceptCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ConceptualDomain.conceptDerivationRule">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ConceptualDomain.valueDomainCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataElementConcept" type="DataElementConcept"/>
	<xs:complexType name="DataElementConcept">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="DataElementConcept.objectClass">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ObjectClass"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElementConcept.childDataElementConceptRelationshipCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElementConceptRelationship" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElementConcept.property">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Property" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElementConcept.parentDataElementConceptRelationshipCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElementConceptRelationship" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElementConcept.dataElementCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElement" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataElement" type="DataElement"/>
	<xs:complexType name="DataElement">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="DataElement.dataElementDerivationCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElementDerivation" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElement.derivedDataElement">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DerivedDataElement" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DataElement.valueDomain">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueDomain"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ClassificationScheme" type="ClassificationScheme"/>
	<xs:complexType name="ClassificationScheme">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ClassificationScheme.type">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClassificationScheme.labelTypeFlag">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClassificationScheme.classSchemeClassSchemeItemCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ValueDomain" type="ValueDomain"/>
	<xs:complexType name="ValueDomain">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ValueDomain.datatypeName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.UOMName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.characterSetName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.formatName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.maximumLengthNumber">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.minimumLengthNumber">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.decimalPlace">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.highValueNumber">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.lowValueNumber">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValueDomain.conceptDerivationRule">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ClassificationSchemeItem" type="ClassificationSchemeItem"/>
	<xs:complexType name="ClassificationSchemeItem">
		<xs:sequence>
			<xs:element name="ClassificationSchemeItem.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.type">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.comments">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItem.classSchemeClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PermissibleValue" type="PermissibleValue"/>
	<xs:complexType name="PermissibleValue">
		<xs:sequence>
			<xs:element name="PermissibleValue.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.value">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.highValueNumber">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.lowValueNumber">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PermissibleValue.valueDomainPermissibleValueCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ValueDomainPermissibleValue" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Context" type="Context"/>
	<xs:complexType name="Context">
		<xs:sequence>
			<xs:element name="Context.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.version">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.languageName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Context.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReferenceDocument" type="ReferenceDocument"/>
	<xs:complexType name="ReferenceDocument">
		<xs:sequence>
			<xs:element name="ReferenceDocument.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.type">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.doctext">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.URL">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.languageName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.organizationId">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.rdtlName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.displayOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDocument.context">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Context"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ObjectClass" type="ObjectClass"/>
	<xs:complexType name="ObjectClass">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ObjectClass.definitionSource">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClass.conceptDerivationRule">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClass.sourcObjectClassRelationshipCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClass.targetObjectClassRelationshipCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Property" type="Property"/>
	<xs:complexType name="Property">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Property.definitionSource">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Property.conceptDerivationRule">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProtocolFormsTemplate" type="ProtocolFormsTemplate"/>
	<xs:complexType name="ProtocolFormsTemplate">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ProtocolFormsTemplate.displayName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsTemplate.moduleCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Module" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsTemplate.instructionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CaseReportForm" type="CaseReportForm"/>
	<xs:complexType name="CaseReportForm">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="CaseReportForm.displayName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CaseReportForm.instructionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CaseReportForm.protocolFormsSet">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ProtocolFormsSet"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CaseReportForm.moduleCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Module" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Module" type="Module"/>
	<xs:complexType name="Module">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Module.displayOrder">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Module.instructionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Module.questionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Question" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProtocolFormsSet" type="ProtocolFormsSet"/>
	<xs:complexType name="ProtocolFormsSet">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ProtocolFormsSet.protocolId">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.type">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.phase">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.leadOrganizationName">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.changeType">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.changeNumber">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.reviewedDate">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Date"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.reviewedBy">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.approvedDate">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Date"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolFormsSet.approvedBy">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Question" type="Question"/>
	<xs:complexType name="Question">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Question.displayOrder">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Question.validValueCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValidValue" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Question.instructionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Question.valueDomain">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueDomain"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Question.dataElement">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="DataElement" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Qualifier" type="Qualifier"/>
	<xs:complexType name="Qualifier">
		<xs:sequence>
			<xs:element name="Qualifier.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.comments">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.conceptDerivationRule">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.VDRepresentationCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.DECObjectClassCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Qualifier.DECPropertyCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Representation" type="Representation"/>
	<xs:complexType name="Representation">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Representation.definitionSource">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Representation.conceptDerivationRule">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Representation.valueDomainCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ValidValue" type="ValidValue"/>
	<xs:complexType name="ValidValue">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ValidValue.displayOrder">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValidValue.instructionCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Designation" type="Designation"/>
	<xs:complexType name="Designation">
		<xs:sequence>
			<xs:element name="Designation.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.type">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.languageName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.designationClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DesignationClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Designation.context">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Context"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NonenumeratedValueDomain" type="NonenumeratedValueDomain"/>
	<xs:complexType name="NonenumeratedValueDomain">
		<xs:complexContent>
			<xs:extension base="ValueDomain">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataElementConceptRelationship" type="DataElementConceptRelationship"/>
	<xs:complexType name="DataElementConceptRelationship">
		<xs:sequence>
			<xs:element name="DataElementConceptRelationship.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementConceptRelationship.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValueMeaning" type="ValueMeaning"/>
	<xs:complexType name="ValueMeaning">
		<xs:sequence>
			<xs:element name="ValueMeaning.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.shortMeaning">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.comments">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.beginDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.endDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.conceptDerivationRule">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ConceptDerivationRule" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueMeaning.permissableValueCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="PermissibleValue" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValueDomainPermissibleValue" type="ValueDomainPermissibleValue"/>
	<xs:complexType name="ValueDomainPermissibleValue">
		<xs:sequence>
			<xs:element name="ValueDomainPermissibleValue.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.origin">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.beginDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.endDate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.concept">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Concept" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainPermissibleValue.validValueCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ValidValue" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClassSchemeClassSchemeItem" type="ClassSchemeClassSchemeItem"/>
	<xs:complexType name="ClassSchemeClassSchemeItem">
		<xs:sequence>
			<xs:element name="ClassSchemeClassSchemeItem.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.displayOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.designationClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DesignationClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassSchemeClassSchemeItem.childClassSchemeClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataElementDerivation" type="DataElementDerivation"/>
	<xs:complexType name="DataElementDerivation">
		<xs:sequence>
			<xs:element name="DataElementDerivation.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementDerivation.displayOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementDerivation.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementDerivation.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementDerivation.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementDerivation.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DerivedDataElement" type="DerivedDataElement"/>
	<xs:complexType name="DerivedDataElement">
		<xs:sequence>
			<xs:element name="DerivedDataElement.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.concatenationCharacter">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.methods">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.rule">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivedDataElement.dataElementDerivationCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DataElementDerivation" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DerivationType" type="DerivationType"/>
	<xs:complexType name="DerivationType">
		<xs:sequence>
			<xs:element name="DerivationType.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.description">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.conceptDerivationRuleCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DerivationType.derivedDataElementCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DerivedDataElement" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AdministeredComponentClassSchemeItem" type="AdministeredComponentClassSchemeItem"/>
	<xs:complexType name="AdministeredComponentClassSchemeItem">
		<xs:sequence>
			<xs:element name="AdministeredComponentClassSchemeItem.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponentClassSchemeItem.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponentClassSchemeItem.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponentClassSchemeItem.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponentClassSchemeItem.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministeredComponentClassSchemeItem.classSchemeClassSchemeItem">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Instruction" type="Instruction"/>
	<xs:complexType name="Instruction">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Instruction.type">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataElementRelationship" type="DataElementRelationship"/>
	<xs:complexType name="DataElementRelationship">
		<xs:sequence>
			<xs:element name="DataElementRelationship.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.parentDataElement">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DataElement"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DataElementRelationship.childDataElement">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DataElement"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValueDomainRelationship" type="ValueDomainRelationship"/>
	<xs:complexType name="ValueDomainRelationship">
		<xs:sequence>
			<xs:element name="ValueDomainRelationship.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.childValueDomain">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ValueDomain"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValueDomainRelationship.parentValueDomain">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ValueDomain"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClassificationSchemeRelationship" type="ClassificationSchemeRelationship"/>
	<xs:complexType name="ClassificationSchemeRelationship">
		<xs:sequence>
			<xs:element name="ClassificationSchemeRelationship.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.displayOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.parentClassificationScheme">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassificationScheme"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeRelationship.childClassificationScheme">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassificationScheme"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClassificationSchemeItemRelationship" type="ClassificationSchemeItemRelationship"/>
	<xs:complexType name="ClassificationSchemeItemRelationship">
		<xs:sequence>
			<xs:element name="ClassificationSchemeItemRelationship.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.parentClassificationSchemeItem">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassificationSchemeItem"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassificationSchemeItemRelationship.childClassificationSchemeItem">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassificationSchemeItem"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ObjectClassRelationship" type="ObjectClassRelationship"/>
	<xs:complexType name="ObjectClassRelationship">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="ObjectClassRelationship.name">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.sourceRole">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.targetRole">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.direction">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.sourceLowMultiplicity">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.sourceHighMultiplicity">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.targetLowMultiplicity">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ObjectClassRelationship.targetHighMultiplicity">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Concept" type="Concept"/>
	<xs:complexType name="Concept">
		<xs:complexContent>
			<xs:extension base="AdministeredComponent">
				<xs:sequence>
					<xs:element name="Concept.evsSource">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Concept.definitionSource">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="String"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Concept.componentConceptCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ComponentConcept" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ComponentConcept" type="ComponentConcept"/>
	<xs:complexType name="ComponentConcept">
		<xs:sequence>
			<xs:element name="ComponentConcept.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ComponentConcept.displayOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ComponentConcept.primaryFlag">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConceptDerivationRule" type="ConceptDerivationRule"/>
	<xs:complexType name="ConceptDerivationRule">
		<xs:sequence>
			<xs:element name="ConceptDerivationRule.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.name">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConceptDerivationRule.componentConceptCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ComponentConcept" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Definition" type="Definition"/>
	<xs:complexType name="Definition">
		<xs:sequence>
			<xs:element name="Definition.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.text">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.type">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.languageName">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.definitionClassSchemeItemCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DefinitionClassSchemeItem" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition.context">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Context"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DesignationClassSchemeItem" type="DesignationClassSchemeItem"/>
	<xs:complexType name="DesignationClassSchemeItem">
		<xs:sequence>
			<xs:element name="DesignationClassSchemeItem.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DesignationClassSchemeItem.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DesignationClassSchemeItem.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DesignationClassSchemeItem.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DesignationClassSchemeItem.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnumeratedValueDomain" type="EnumeratedValueDomain"/>
	<xs:complexType name="EnumeratedValueDomain">
		<xs:complexContent>
			<xs:extension base="ValueDomain">
				<xs:sequence>
					<xs:element name="EnumeratedValueDomain.valueDomainPermissibleValueCollection">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ValueDomainPermissibleValue" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DefinitionClassSchemeItem" type="DefinitionClassSchemeItem"/>
	<xs:complexType name="DefinitionClassSchemeItem">
		<xs:sequence>
			<xs:element name="DefinitionClassSchemeItem.id">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionClassSchemeItem.dateModified">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionClassSchemeItem.dateCreated">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionClassSchemeItem.createdBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionClassSchemeItem.modifiedBy">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="String"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionClassSchemeItem.classSchemeClassSchemeItem">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ClassSchemeClassSchemeItem"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
